.elemento-com-borda {
	border: 3p solid #ffcc00;
	padding: 10px;
}
.cascata{
	background-color: rgb(231, 97, 8);
}

#para2{
	background-color: rgb(9, 43, 9); /*Exemplo de comentário CSS*/
}

.gradient {
    font-size: 'Bebas Neue', sans-serif;
    color: aliceblue;
    font-weight:bold;
    place-content: center;
    font-size: 4rem;
    width: 400px;
    height: 300px;
    background-image: linear-gradient(45deg, rgb(12, 12, 12), yellow);
    margin: 20px 30px; /* forma de declaração abreviada */
}